<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sign up form - fixed</title>
    </head>
    <body>

        <h1>Sign up to the event using this form</h1>

        <form action="#" th:action="@{/form}" method="POST">
            <p><label for="name">Name</label>: <input type="text" name="name" id="name"/></p>
            <p><label for="address">Address</label>: <input type="text" name="address" id="address"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>

        <p></p>
        <h1>Or for existing users: sign in</h1>
        <form name="f" th:action="@{/login}" method="POST">
            <table>
		<tbody>
                    <tr><td>User:</td><td><input type="text" name="username" th:value="${username}" id="username" autocomplete="off" ></input></td></tr>
                    <tr><td>Password:</td><td><input type="password" name="password" autocomplete="off" ></input></td></tr>
                    <tr><td colspan="2"><input name="submit" type="submit" value="Login"></input></td></tr>
		</tbody>
            </table>
	</form>
    </body>
</html>
